<%- include("./partials/header") %>
    <section id="home" class="home-main">

        <div class="container">
            <h1 class="title title-contact ">Web Developer & Designer<br>
                <h2>This is my portfolio from 2019. A new one is coming soon!</h2>
                <span class="title"><a class="typewrite" data-period="2000" data-type='[ "Creating beautiful websites", "HTML, CSS, JavaScript", "Creator, Inovator, Problem Solver" ]'> 
                </a>
                </span>
            </h1>
            <div><img class="profile" src="/images/profile.webp" alt="profile img "></div>

            <div class="skills-container ">
                <div class="skills-item">
                    <div class="skills-icon"><i class="fas fa-laptop-code fa-3x"></i></div>
                    <div class="skills-text">
                        <h2>Web development</h2>
                        <p>Able to create beautiful sites by using html css js</p>
                    </div>
                </div>
                <div class="skills-item">
                    <div class="skills-icon"><i class="fas fa-mobile-alt fa-3x"></i></div>
                    <div class="skills-text">
                        <h2>Responsive design</h2>
                        <p>Able to create mobile responsive sites at a professional level</p>
                    </div>
                </div>
                <div class="skills-item">
                    <div class="skills-icon"><i class="fas fa-paint-brush fa-3x"></i></div>
                    <div class="skills-text">
                        <h2>Graphics editor</h2>
                        <p>Can use graphics editing software to make and edit quality pictures</p>
                    </div>
                </div>
                <div class="skills-item">
                    <div class="skills-icon"><i class="fas fa-headset fa-3x"></i></div>
                    <div class="skills-text">
                        <h2>Strong Support</h2>
                        <p>Able to communicate ideas in a brief way</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="area">
                <div class="home-about-container">
                    <div class="home-about-wrap">
                        <div class="home-about-text">
                            <h1 class="title title-contact ">About Me</h1>
                            <h2>Web Developer & Designer.</h2>
                            <p>Hello!<br>My name is Marius, <br>I'm a passionate Software Developer who focus on the creation and design of interactive web applications. My goal is to create simple and responsive user experience keeping the design on the
                                highest level possible.<br>More about me:
                                <div><a href="/resume" target="_blank" rel="noopener" class="button button-dark ">resume</a></div>
                            </p>

                        </div>

                        <div class="home-about-img"> <img src="/images/desk-img.webp" alt="profile img "></div>

                    </div>



                </div>

                <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </section>

    <section id="projects">
        <div class="container">
            <h1 class="title title-contact">My Recent Work<br>
                <span>Here are a few projects I've worked on recently</span>
            </h1>
            <div class="project-container">
                <!-- portfolio item 01 -->
                <figure class="port-item ">
                    <img src="/images/ginas.webp " alt="portfolio item ">
                    <figcaption class="port-desc ">
                        <p>Gina's Cleaning Services</p>
                        <a class="button button-accent button-small button-trigger">Details</a>
                        <a href="http://ginascleaningservices.co.uk/" target="_blank" rel="noopener" class="button button-accent button-small ">Show Live</a>
                    </figcaption>
                </figure>
                <!-- portfolio item 02 -->
                <figure class="port-item ">
                    <img src="/images/techiebee.webp" alt="portfolio item ">
                    <figcaption class="port-desc ">
                        <p>Techiebee - Ecommerce</p>
                        <a class="button button-accent button-small button-trigger">Details</a>
                        <a href="https://github.com/MariusDervinis/techiebee" target="_blank" rel="noopener" class="button button-accent button-small ">Show Code</a>
                        <a href="https://techiebee.herokuapp.com/" target="_blank" rel="noopener" class="button button-accent button-small ">Show Live</a>
                    </figcaption>
                </figure>
                <!-- portfolio item 03 -->
                <figure class="port-item ">
                    <img src="/images/pvpon.webp" alt="portfolio item ">
                    <figcaption class="port-desc ">
                        <p>PVPON - gaming</p>
                        <a class="button button-accent button-small button-trigger">Details</a>
                        <a href="https://www.pvpon.eu/" target="_blank" rel="noopener" class="button button-accent button-small ">Show Live</a>
                    </figcaption>
                </figure>
                <!-- portfolio item 04 -->
                <figure class="port-item ">
                    <img src="/images/yelpcamp.webp" alt="portfolio item ">
                    <figcaption class="port-desc ">
                        <p>YelpCamp - campgrounds</p>
                        <a class="button button-accent button-small button-trigger">Details</a>
                        <a href="https://github.com/MariusDervinis/YelpCamp" target="_blank" rel="noopener" class="button button-accent button-small ">Show Code</a>
                        <a href="https://marius-dervinis-yelpcamp.herokuapp.com/" target="_blank" rel="noopener" class="button button-accent button-small ">Show Live</a>
                    </figcaption>
                </figure>
                <!-- portfolio item 05 -->
                <figure class="port-item ">
                    <img src="/images/colorpickgame.webp" alt="portfolio item ">
                    <figcaption class="port-desc ">
                        <p>Color Guess (Game)</p>
                        <a class="button button-accent button-small button-trigger">Details</a>
                        <a href="https://github.com/MariusDervinis/Color-Guess-Game" target="_blank" rel="noopener" class="button button-accent button-small ">Show Code</a>
                        <a href="https://pick-the-color-game.herokuapp.com/" target="_blank" rel="noopener" class="button button-accent button-small ">Show Live</a>
                    </figcaption>
                </figure>
                <!-- portfolio item 06 -->
                <figure class="port-item ">
                    <img src="/images/todolist.webp " alt="portfolio item ">
                    <figcaption class="port-desc ">
                        <p>TO-DO List</p>
                        <a class="button button-accent button-small button-trigger">Details</a>
                        <a href="https://github.com/MariusDervinis/react-to-do" target="_blank" rel="noopener" class="button button-accent button-small ">Show Code</a>
                        <a href="https://marius-to-do-list.herokuapp.com/" target="_blank" rel="noopener" class="button button-accent button-small ">Show Live</a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>

    <%- include("./utils/mailer") %>


        <!-- modals -->
        <!-- Trigger/Open The Modal -->


        <%- include("./modals/project1") %>
            <%- include("./modals/project2") %>
                <%- include("./modals/project3") %>
                    <%- include("./modals/project4") %>
                        <%- include("./modals/project5") %>
                            <%- include("./modals/project6") %>




                                <%- include("./partials/footer") %>